* {
    box-sizing: border-box;
}
@media all and (min-width: 920px) {
    section.nieuws {
        width: 30%;
        float: left;
    }
    section.instrumenten {
        width: 70%;
        float: right;
    }
    article {
        display: inline-block;
        width: 48%;
        margin-right: 20px;
    }
    article:nth-child(even) {
        margin-right: 0px;
    }

}

@media all and (min-width: 1200px) {
    div#wrapper {
        width: 1200px;
        margin: auto;
    }
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #faf1ea;
    font-family: 'Raleway', sans-serif;
}

div#wrapper {
    background-color: rgb(250, 241, 234);
}
.header {
    text-align: center;
    background: #c0f0df;
    color: white;
}

.header h1 {
    font-size: 40px;
}

ul {
    padding: 0px;
    margin: 0px;
}
li {
    background-color: rgb(128, 128, 128);
    padding: 10px;
    padding-left: 20px;
    border-top:1px solid white;
}
.navbar {
    overflow: hidden;
    background-color: #808080;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #dddddd;
    color: #000000;
}

img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}
article {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
    vertical-align: top;
}

article:nth-child(even) {
    margin-right: 0px;
}

section.nieuws {
width: 30%;
    float: left;
}

section.instrumenten {
    width: 70%;
    float: right;
}
h3 {
    color: #dc6a5e;
}