@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
body {
    background-color: #f9f1ea;
}
.header {
    text-align: center;
    background: #caecde;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #808080;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #dddddd;
    color: #000000;
}

img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}
article {
    display: inline-block;
    width: 20%;
    padding: 5px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}